
#button-addon1 {
    color: #ffc371;
  }
  
  i {
    color: #ffc371;
  }
  
  .form-control::placeholder {
    font-size: 0.95rem;
    color: #fff;
    font-style: italic;
  }
  
  .form-control.shadow-0:focus {
    box-shadow: none;
  }
  .bg-white{
    background-color: #537895;
background-image: linear-gradient(315deg, #537895 0%, #09203f 74%);
  }