.footer{
    background-color: #ffffff;
   
}
.viewDetails{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
}
#searchProduct{
  margin-left: 75%;

}
.Deal{
    font-family:cursive;
    color: red;
    border: 1px solid red;
    width: 100px;
    border-radius: 20px 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.sale{
    /* background-color: yellow; */
    color: red;
   
}
.load-more-div {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  /* .content_Cart{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

  }
  .card{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
  } */
  .form-control-borderless {
    border: none;
}

.card-img-top{
  width: 50px;
  height: 150px;
}
/* .ant-card-body{
  display: flex;
  justify-content: center;
    align-items: center;
} */
.ant-card-body{
  /* width: 1300px; */
  /* margin-left: 150px; */
}


.form-control-borderless:hover, .form-control-borderless:active, .form-control-borderless:focus {
    border: none;
    outline: none;
    box-shadow: none;
}